div.guess {
    margin-bottom: 20px;
    display: flex;

    div.block {
        flex: 1 0;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: 5px;
    }

    div.digit {
        border: 2px solid #555;

        &.digit-WRONG {
            background-color: #555;
            color: #fff;
        }
        &.digit-CORRECT {
            background-color: #5b5;
            border-color: #5b5;
            color: #fff;
        }
        &.digit-OCCURENCE {
            background-color: #c8b356;
            border-color: #c8b356;
            color: #fff;
        }
    }

    div.comma {
        flex: 6px 0;
        transform: translateY(10px);
        border: 2px solid transparent;
    }
}

.result-card {
    margin-top: 20px;
}
